# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
*.env

# Node
node_modules/
dist/
dist-ssr/

# Python
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.venv/
backend/viv_env/
media/
views2/
# IDEs
.vscode/*
!.vscode/extensions.json
.idea/
**/.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?